@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Cillian Murphy is an Irish film and theatre actor. He is often noted by critics for his chameleonic performances in diverse roles and distinctive blue eyes.

    A native of Cork, Murphy began his performing career as a rock musician. After turning down a record deal, he made his professional acting debut in the play Disco Pigs in 1996. He went on to star in Irish and UK film and stage productions throughout the late 1990s and early 2000s, first coming to international attention in 2003 as the hero in the post-apocalyptic film 28 Days Later. Murphy's best-known roles are as villains in two 2005 blockbusters: the Scarecrow in the superhero film Batman Begins, and Jackson Rippner in the thriller Red Eye. Next came two contrasting, widely acclaimed starring roles: his Golden Globe Award-nominated performance as transgender outcast "Kitten" in 2005's Breakfast on Pluto and a turn as a 1920s Irish revolutionary in the 2006 Palme d'Or winner, The Wind That Shakes the Barley.

    In 2010, Murphy will co-star in Inception, a big budget movie starring Leonardo DiCaprio by Batman Begins/The Dark Knight director Christopher Nolan.

    A resident of London since 2001, Murphy often works in or near the city and has expressed no desire to move to Hollywood. Uncomfortable on the celebrity circuit, he customarily gives interviews about his work, but does not appear on television talk shows or discuss details of his private life with the press.


    <img src="https://globaleng.biz/usr/person/big-person-16840761551.png" />

    <h4>Achievments</h4>
    Irish actor Cillian Murphy has received several accolades, including a Golden Globe Award, a Critics' Choice Movie Award, three IFTA Film & Drama Awards, a Drama Desk Award, and nominations for an Academy Award, two BAFTA Awards and two SAG Awards.
</div>
